<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExCSS" version="4.3.1" targetFramework="net48" />
  <package id="ShimSkiaSharp" version="3.2.1" targetFramework="net48" />
  <package id="SkiaSharp" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.1" targetFramework="net48" />
  <package id="Svg.Custom" version="3.2.1" targetFramework="net48" />
  <package id="Svg.Model" version="3.2.1" targetFramework="net48" />
  <package id="Svg.Skia" version="3.2.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
</packages>